*{
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none;             
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clear{
	clear: both;
}

.no-break{
	white-space: nowrap;
}
